@font-face {
    font-family: 'Pokemon Solid';
    src: url('PokemonSolidNormal.eot');
    src: url('PokemonSolidNormal.eot?#iefix') format('embedded-opentype'),
        url('PokemonSolidNormal.woff2') format('woff2'),
        url('PokemonSolidNormal.woff') format('woff'),
        url('PokemonSolidNormal.ttf') format('truetype'),
        url('PokemonSolidNormal.svg#PokemonSolidNormal') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1{
    
    font-family: 'Pokemon Solid';
    color: #ffcc03;
    -webkit-text-stroke: 1px #3564AD;
}

.searchbox {
    outline-width: 0;
}
